/*
  Imports
*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");

/*
  Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Base styles
*/

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("san-francisco.jpg"); /* SF background <3 */
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ccc;
  color: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-weight: 300;
}

button {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  font-size: 125%;
}

/*
  Page wrapper: the page container, which allows you to center the app (.box-wrapper)
*/

.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Box wrapper: the app container
*/

.box-wrapper {
  width: 60vw;
  height: 60vh;
  text-align: center;
  border-radius: 10px;
  background: #fefefe;
  box-shadow: 0 0 12px rgba(251, 251, 251, 0.25);
}

.box-wrapper#access-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box-wrapper#access-wrapper h1,
.box-wrapper#access-wrapper h2 {
  margin-bottom: 5px;
}

.box-wrapper#access-wrapper div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box-wrapper#access-wrapper form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 40px;
  margin-top: 10px;
}

.box-wrapper#access-wrapper form input {
  outline: none;
  font-size: 125%;
  padding-left: 10px;
  border: 1px solid #e0e0e0;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.box-wrapper#access-wrapper button {
  background: #5838e6;
  color: #fefefe;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box-wrapper#app-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 1600px) {
  .box-wrapper {
    width: 70vw;
    height: 70vh;
  }
}

@media screen and (max-width: 1400px) {
  .box-wrapper {
    width: 75vw;
    height: 75vh;
  }
}

@media screen and (max-width: 1200px) {
  .box-wrapper {
    width: 80vw;
    height: 80vh;
  }
}

@media screen and (max-width: 1000px) {
  .box-wrapper {
    width: 85vw;
    height: 85vh;
  }

  .box-wrapper#app-wrapper {
    grid-template-columns: 5fr 2fr;
  }
}

@media screen and (max-width: 800px) {
  .box-wrapper {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }

  .box-wrapper#app-wrapper {
    grid-template-columns: 1fr;
  }
}

/*
  Chat wrapper: the container of the chat panel
*/

#chat-wrapper {
  border-right: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  #chat-wrapper {
    border-right: none;
  }
}

/*
  Chat info: app information bar
*/

#chat-info {
  border-bottom: 1px solid rgb(226, 226, 226);
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 6vh;
}

#chat-info .title {
  border-right: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
  Typing: box that shows if a user is writing
*/

#typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
  Chat messages: the box containing the messages exchanged
*/

#chat-messages-scroll-wrapper {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 0;
  display: block;
} /* Utility for div scrolling */

#chat-messages {
  padding: 10px;
  font-size: 115%;
  text-align: left;
}

#chat-messages .message {
  margin-bottom: 5px;
}

/*
  Chat form: the form for writing and sending a message
*/

#chat-form {
  border-top: 1px solid rgb(226, 226, 226);
  height: 6vh;
}

#chat-form form {
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100%;
}

#message-input-wrapper {
  height: 6vh;
  display: flex;
  padding: 9px;
  box-sizing: border-box;
}

#message-input-wrapper input {
  font-size: 125%;
  height: 80%;
  outline: none;
  border: none;
  flex: 1;
}

#chat-form button {
  background: #02eeaa;
  margin-top: -1px;
  margin-right: -2px;
  color: #fefefe;
}

/*
  Side wrapper: the container of the online users panel and the exit button
*/

#side-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  #side-wrapper {
    display: none;
  }
}

/*
  Online users: panel for the list of online users
*/

#online-users {
  flex-grow: 1;
}

#online-users .title {
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6vh;
}

/*
  Online users list: list of online users
*/

#online-users-list-scroll-wrapper {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: block;
} /* Utility for div scrolling */

#online-users-list {
  padding: 10px;
  font-size: 115%;
  text-align: left;
}

/*
  Exit button wrapper: container for the logout button
*/

#exit-button-wrapper {
  height: 6vh;
}

#exit-button-wrapper button {
  background: rgb(223, 88, 88);
  color: #fefefe;
  border-bottom-right-radius: 9px;
}
